<div class="container">
  <div class="ui-g">

    <form (ngSubmit)="salvar(pesquisarForm)" #pesquisarForm="ngForm">
      <div class="ui-g-12">
        <h1>Lista de Ideias</h1>
      </div>
      
      <div class="ui-g-6 ui-md-3 ui-fluid form-group">
        <label class="form-control-label">Situação</label>
        <p-dropdown [options]="situacaoopcao" placeholder="Selecione" name="situacao" ngModel></p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid form-group">
        <label class="form-control-label">Viabilidade</label>
        <p-dropdown [options]="viabilidadeopcao" placeholder="Selecione" name="viabilidade" ngModel></p-dropdown>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <section class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="cadastros" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="lar-col">Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="lar-col-data">Data de Cadastro</th>
            <th class="lar-col-data">Data de Finalização</th>
            <th>Situação</th>
            <th class="lar-col-data">Viabilidade</th>
            <th class="col-data"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-cadastro>
          <tr>
            <td>{{cadastro.id}}</td>
            <td>{{cadastro.nome}}</td>
            <td>{{cadastro.descricao}}</td>
            <td class="col-data">{{cadastro.dataCadastro | date: 'dd/MM/yyyy'}}</td>
            <td class="col-data">{{cadastro.dataSituacao | date: 'dd/MM/yyyy'}}</td>
            <td class="col-data">{{cadastro.situacao}}</td>
            <td class="col-data" [style.color]="cadastro.viabilidade === 'MEDIA' ? 'red' : 'black'">
              {{cadastro.viabilidade}}</td>
            <td class="centralizar">
              <button pButton icon="pi pi-pencil"  pTooltip="Editar" style="margin-right: 10px;" tooltipPosition="top"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(cadastro)"></button>
            </td>
        </ng-template>

      </p-table>
    </div>
    <div class="ui-g-12">
      <button pButton label="Nova Ideia" routerLink="/ideias/novo"></button>
    </div>
  </section>

</div>