<div class="container">
    <div class="ui-g">
  
      <div class="ui-g-12">
        <h1>Lista de Ideias</h1>
      </div>
      
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text">
      </div>
  
      <div class="ui-g-12">
        <label style="display: block;">Filtros</label>
        <input pInputText type="text">
  
        <label for=""> e </label>
        <input pInputText type="text">
      </div>
  
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

      <div>
        <app-cadastro-grid></app-cadastro-grid>
      </div>
  
    </div>
  
  </div>