<div class="container">

    <form >

        <div class="ui-g">
            <div class="ui-g-12">
                <h1>Novo Cadastro</h1>
            </div>

            <div class="ui-g-6 ui-md-12 ui-fluid">
                <label for="">Nome</label>
                <input pInputText type="text">
            </div>
            <div class="ui-g-3 ui-fluid">
                <label for="">Viabilidade</label>
                <p-dropdown [options]="viabilidade"></p-dropdown>
            </div>
            <div class="ui-g-3 ui-fluid">
                <label for="">Situação</label>
                <p-dropdown [options]="situacao"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-fluid">
                <label for="">Descrição</label>
                <input pInputText type="text">
            </div>
        </div>

    </form>

</div>